# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://localhost:3000"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET="y/2dqCk7kGo/JpxXtQKAy7kWLw/ywzOODmqemNi8GXE="
JWT_SECRET_KEY="0xDM9ZN3qSAOlsYlgVrwyeQBxigxGmmGu5qWadfWjZs="

GOOGLE_ID=""
GOOGLE_SECRET=""

GITHUB_ID=Ov23li2SD5tWQPQDxtNV
GITHUB_CLIENT_SECRET=02e96e2741d8912c8cea58cd75ed7364ecbca485

# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL="postgresql://riffaidb_owner:npg_7xiPDcmHosV1@ep-frosty-silence-a1d36qlx-pooler.ap-southeast-1.aws.neon.tech/riffaidb?sslmode=require"

# EMAIL (@ RESEND)
RESEND_API_KEY='re_e2SWpFDH_FXkKPpMJobZbxqeHbJiWhN52'
RESEND_FROM='riffai.tech@gmail.com'
RESEND_EMAIL_TO=""
RESEND_HOST="smtp.resend.com"
RESEND_USERNAME="resend"
RESEND_PORT="465"
